#admin {
    display: flex;
    flex-direction: row;
    overflow: hidden;
}
body {
    background-color: var(--main-color);
    font-size: 15px;
}
/* ======= side-nav css ===================== */
.side-nav {
    flex: 1;
    background-color: var(--main-color);
    height: 100vh;
}
.side-nav__logo {
    width: 100px;
    margin: 60px;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.side-nav__logo h3 {
    text-align: center;
    margin-top: 15px;
    text-transform: uppercase;
}
.side-nav__logo img {
    width: 100%;
}
.side-nav__btn .btn {
    margin: 40px;
    list-style-type: none;
    height: 20px;
}
.side-nav__btn .btn a {
    color: #707182;
    text-decoration: none;
    transition: all .4s ease-in-out;
    padding: 10px;
}
.side-nav__btn .btn:hover a{
    color: #fff;
}
.btn.active a {
    color: #fff;
}
.btn.active > a::before {
    content: "";
    width: 6px;
    height: 30px;
    background-color: #fff;
    position: absolute;
    left: 0;
    transform: translateY(-6px);
    border-radius: 0px 4px 4px 0px;
}
/* ========== function css ===================== */
.function {
    flex: 7;
    background-color: #fff;
    border-radius: 40px 0px 0px 40px;
    display: flex;
    flex-direction: column;
}
.stats {
    display: flex;
    flex-direction: row;
}
.product-category {
    flex: 1;
    background-color: #f0f0f0;
    border-radius: 20px;
    margin: 30px 15px 0px 15px;
    padding: 10px;
    position: relative;
}
#p > i, #vtv > i, #htv > i {
    position: absolute;
    top: -22px;
    left: 15px;
    font-size: 40px;
}
.count {
    flex-direction: row;
    background-color: #9fcc2e;
}
.count__icon {
    font-size: 30px;
    margin-right: 20px;
}
.mimg-count {
    background-color: #03a9f4;
}
.tvimg-count {
    background-color: #fa9f1b;
}
.search {
    flex-direction: column;
    overflow: auto;
}
.side-nav--mobile {
    display: none;
}
.side-nav--mobile .dropdownicon {
    color: #fff;
    margin: 10px;
    border: solid #fff 3px;
    padding: 10px;
    aspect-ratio: 1;
    width: 40px;
    cursor: pointer;
}

/* Table style */
.search__result {
    display: flex;
    justify-content: center;
    align-items: center;
}
.search__result table {
    border-collapse: collapse;
    min-width: 400px;
    border-radius: 5px;
    overflow: hidden;
    margin-top: 10px;
    display: none;
}
.search__result tr:first-child {
    background-color: var(--main-color);
    font-weight: bold;
    color: #fff;
}
.search__result table tr {
    text-align: left;
}
.search__result table tr:nth-of-type(even) {
background-color: #f0f0f0;
}
.search__result table tr:last-child {
    border-bottom: solid 5px var(--main-color);
}
.search__result table tr th {
    padding: 5px;
}
.search__result table tr th:nth-child(2) {
    width: 290px;
}
.sub-edit {
    cursor: pointer;
    margin-left: 10px;
}
.sub-edit__btn {
    display: none;
}
.sub-edit__btn > * {
    border-radius: 8px;
    padding: 5px;
    margin: 10px;
    cursor: pointer;
}
.sub-edit__btn--confirm {
    background-color: #87de37;
}
.sub-edit__btn--cancel {
    background-color: #e7891d;
}
.spinner {
    position: relative;
    width: 50px;
    height: 3vh;
 }
 .spinner::after {
    content: "";
    width: 13px;
    height: 13px;
    border: 3px solid transparent;
    border-top-color: var(--main-color);
    border-radius: 50%;
    animation: spinner 1s linear infinite;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
 }
 @keyframes spinner {
    from {
       transform: rotate(0turn);
    }
    to {
       transform: rotate(1turn);
    }
 }
@media only screen and (max-width: 510px) {
    .stats {
        display: flex;
        flex-direction: column;
    }
}